@page "/"

<PageTitle>Home</PageTitle>

<div class="home-container">
    <h1>UO Web Apps</h1>
    <p>Useful links:</p>
    <div class="links-container">
        <a href="https://portal.uooutlands.com/vendor-search" class="link-card" target="_blank">Outlands Vendor Malls</a>
        <a href="https://wiki.uooutlands.com/Main_Page" class="link-card" target="_blank">Outlands Wiki</a>
        <a href="https://www.outlandsbutler.com/" class="link-card" target="_blank">Outlands Butler</a>
        <a href="https://outlandsdrip.com/" class="link-card" target="_blank">Outlands Drip</a>
    </div>
</div>
