@page "/xptracker"
@rendermode InteractiveWebAssembly
@using UOWebApps.Client.Services
@inject XPTrackerService XPTrackerService

<PageTitle>XP Tracker</PageTitle>

<div class="xp-tracker-container">
    <div class="column aspect-column">
        <h2>Aspect XP</h2>
        <div class="input-group">
            <label for="input1">Starting Aspect XP:</label>
            <input type="number" id="input1" @bind="XPTrackerService.StartingAspectXP" min="0" step="100" class="no-spin" />
        </div>
        <div class="input-group">
            <label for="input2">Ending Aspect XP:</label>
            <input type="number" id="input2" @bind="XPTrackerService.EndingAspectXP" min="0" step="100" class="no-spin" />
        </div>
        <div class="result">
            <h3>Total Aspect XP:</h3>
            <p>@aspectXpGained.ToString("N0")</p>
        </div>
    </div>

    <div class="column chain-column">
        <h2>Chain XP</h2>
        <div class="input-group">
            <label for="input3">Starting Chain XP:</label>
            <input type="number" id="input3" @bind="XPTrackerService.StartingChainXP" min="0" step="100" class="no-spin" />
        </div>
        <div class="input-group">
            <label for="input4">Ending Chain XP:</label>
            <input type="number" id="input4" @bind="XPTrackerService.EndingChainXP" min="0" step="100" class="no-spin" />
        </div>
        <div class="result">
            <h3>Total Chain XP:</h3>
            <p>@chainXpGained.ToString("N0")</p>
        </div>
    </div>
</div>

@code {
    private int chainXpGained => XPTrackerService.EndingChainXP - XPTrackerService.StartingChainXP;
    private int aspectXpGained => XPTrackerService.EndingAspectXP - XPTrackerService.StartingAspectXP;
}
